
// Font
$main-FontWeight: 300;
$currency-FontWeight: 500;
$title-FontWeight: 700;

$title-Fontsize:2rem;
$subtitle-Fontsize:1.2rem;


// colors
$main-color: #bb5432;
$alternate-color: #f1c5b6;
$light-color: #fff;

// transitions
$fast-transition: 200ms;
$slow-transition: 1000ms;
